.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.front {
  display: flex;
  align-items: center;
  border: 5px solid #1BE990;
}

.back {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #1BE990;
}

.back-title {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-info{
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.back-info p{
  font-size: 1.4rem;
  color: #FFFF;
}

.back-title h2 {
  color: #FFFF;
}

.back-link{
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flip-container,
.front,
.back {
  width: 550px;
  height: 400px;
}

.flipper {
  transition: 1.5s;
  transform-style: preserve-3d;
}

.img1{
  width: 100%;
  height: 390px;
  border-radius: 5px;
}

.img2 {
  width: 190px;
  margin-left: 35%;
}

.img3 {
  width: 100%;
  height: 400px;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

@media (max-width: 400px) {
    .front,
    .back{
      width: 350px;
    }  

}
